{% extends "base_exc.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Server error' %}
</div>
{% endblock %}

{% block title %}{% trans 'Server error (500)' %}{% endblock %}

{% block content0 %}

<div class="container cols-x7 text-center center-vertical">
    <div class="intro-text">
        <h1>{% trans 'Server Error <em>(500)</em>' %}</h1>
        <hr class="star-primary">
        <h5 class="text-danger">{% trans "There's been an error. It's been reported to the site administrators via email and should be fixed shortly. Thanks for your patience." %}</h5>
        <a href="{% url 'admin:index' %}" class="btn btn-danger">Volver</a>
    </div>
</div>

{% endblock %}
